.friendsItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.friendItem {
    margin-right: 10px;
    width: 50px;
    border-radius: 50%;
}

.friendItem img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
  }
