.dialogs {
display: grid;
grid-template-columns: 6fr 10fr;
}

.dialogsItems {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dialogsItems a {
  color: white;
  text-decoration: none;
}

.dialogsItems .active {
  color: black;
}

.dialogsItems img {
  display: block;
  margin-right: 10px;
  width: 50px;
}

.dialog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

/* .dialog.active  a{
  color: black;
} */


.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 600px;
  margin-left: auto;
  background-color: white;
  /* height: max-content; */

}

.messagesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow: hidden scroll;
}

.message {
  padding: 10px;
  margin: 15px;
  width: fit-content;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: grey;
  border-radius: 10px;
}

.message:nth-child(2n) {
  align-self: flex-end;
  background-color: rgb(45, 136, 189);
}

.typeMessage {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 5px;
  margin-top: auto;
  background-color: white;
}
